[submodule "WLoopCAN"]
	path = WLoopCAN
	url = https://github.com/waterloop/WLoopCAN.git
	branch = develop

[submodule "WLoopUtil"]
	path = WLoopUtil
	url = https://github.com/waterloop/WLoopUtil.git
	branch = develop

